# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/
*.iml

# VS Code (in case you cheat later)
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp
*.swo