asgiref==3.11.1
crispy-bootstrap5==2026.3
Django==6.0.2
django-crispy-forms==2.5
django-environ==0.13.0
django-extensions==4.1
dotenv==0.9.9
gunicorn==25.3.0
packaging==26.2
pillow==12.1.1
psycopg2==2.9.11
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2025.3
